* {
  box-sizing: border-box;
}

article {
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all ease 0.4s;
  overflow: hidden;
}
article a::after {
  content: '';
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
}
article h2 {
  margin: 0 0 18px 0;
  font-family: 'Bebas Neue';
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: black;
  transition: all 0.3s ease-in-out;
}
figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16/9;
  overflow: hidden;
}
article img{
transform-origin: center;
  max-width: 100%;
transform: scale(1.001);


}