* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 48px 0;
  font-family: 'figtree', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  background-image: linear-gradient(45deg, #7c9885, #b5b682);
  min-height: 100vh;
}

.articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.article-wrapper {
  min-width: 300px;
  max-width: 400px;
  border-radius: 16px;
  background-color: #fff;
  transform-origin: center;
  overflow: hidden;
}

.img {
  max-width: 100%;
  transition: all ease 0.3s;
}

.article-body {
  padding: 24px;
}
.article-title {
  margin: 0 0 18px 0;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: black;
  font-family: 'bebas neue', sans-serif;
}
.read-more {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}
.article-para {
  font-family: 'figtree', sans-serif;
}
.article-title:hover {
  color: #28666e;
}
.img:hover {
  transform: scale(1.1);
}
.img:hover ~ .article-body .article-title {
  color: #28666e;
}
@media (min-width: 450px) and (max-width:838px){
  .article-wrapper {
    max-width: 800px;
    height: 100px;

    display: flex;
    flex-direction: row;
  }
  .article-para
  {
    display: none;
  }
}
